{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1161705583913870');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1161705583913870&ev=PageView&noscript=1" />
	</noscript>
	<!-- End Facebook Pixel Code -->
</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="site-header">
			<div class="diagonal-stripes"></div>
			<div class="site-header__logo">
				{% include '/assets/src/img/logo.svg' %}
			</div>
		</header>

		<main class="site-main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
      		<section class="primary-content">
				{% block content %}
					Sorry, no content
				{% endblock %}
      		</section>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{# <div class="the-wall">
			<div class="the-wall__of-ice">
				<h2>Enter your email to view the livestream</h2>
				<form class="infusion-form" accept-charset="UTF-8" action="https://hy289.infusionsoft.com/app/form/process/e6f2808f6c816251d2c1a2672941ebe0" method="POST">
					<input name="inf_form_xid" type="hidden" value="e6f2808f6c816251d2c1a2672941ebe0"><br>
					<input name="inf_form_name" type="hidden" value="NoahUniversity.com"><br>
					<input name="infusionsoft_version" type="hidden" value="1.48.0.48">
					<input id="inf_field_Email" class="infusion-field-input-container the-wall__email" name="inf_field_Email" type="text" placeholder="My Email Address Is...">
					<input class="the-wall__submit" type="submit" value="Watch Now">
				</form>
			</div>
		</div> #}

		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>

	<script>
		var tag = document.createElement('script');
		tag.src = "//www.youtube.com/player_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;

		function onYouTubePlayerAPIReady() {
		  	player = new YT.Player('livestream', {
		    	events: {
		      		'onReady': onPlayerReady
		    	}
		  	});
		}

		function onPlayerReady(event) {
		  	// bind events
		  	var playButton = document.getElementById("play-button");
		  	playButton.addEventListener("click", function() {
		  		$("body").addClass("active-livestream");
		    	player.playVideo();
		  	});
		}
	</script>
</html>
