{% include '/assets/src/img/mark.svg' %}
<div class="site-footer__copyright">
	&copy; {{"now"|date('Y')}} Reimagine Conference.
</div>
<ul class="footer-social-list">
	<li><a target="_blank" href="https://www.facebook.com/reimagineconference/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
	<li><a target="_blank" href="https://www.instagram.com/reimagineconf/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li><a target="_blank" href="https://twitter.com/reimagineconf/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
</ul>